/node_modules
/bower_components
/dist/*
!/dist/index.html
!/dist/favicon
npm-debug.log
dist
src/**/*.js.map
!src/css-variables.js
*_BACKUP
*csv_sed
.awcache
.build
config/local*



.idea/
target/
bin/**
tmp/**
overlays/

*.tmp
*.iml
*.bak